.head_top {
  display: flex;
  justify-content: center;
  padding: 10px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.9);
  max-height: 50px;
}
.head_top li {
  padding: 10px;
}

.head_sub {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  color: #fff;
  background-color: rgba(9, 118, 101, 0.9);
  max-height: 100px;
}
.head_sub h1 {
  font-size: 0.9rem;
  font-weight: bolder;
  background: rgba(0, 0, 0, 0.7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container_logo {
  position: relative;
  width: 70px;
  height: auto;
}
.container_logo_h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container_logo_h1 a {
  font-size: 1.3rem;
}
.container_app {
  display: flex;
  justify-content: space-between;
}
.svg_size {
  width: 48px;
  height: 48px;
}
.triangle {
  width: 100%;
  height: 150px;
  background: rgba(9, 118, 101, 0.8);
  clip-path: polygon(0% 0%, 100% 0%, 0% 100px);
}
.reverse_triangle {
  width: 100%;
  height: 150px;
  background: rgba(9, 118, 101, 0.8);
  clip-path: polygon(0 0, 100% 0, 100% 100%);
}
.container_head_block {
  position: fixed;
  width: 100%;
  z-index: 200;
}
.container_delivery {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container_span_delivery {
  text-transform: uppercase;
  font-size: 1.1rem;
}
.container_content {
  padding: 50px;
}
.container_content ul li {
  list-style-type: disc;
}
@media (min-width: 1201px) {
  .head_sub h1 {
    font-size: 1.5rem;
  }
  .head_top {
    font-size: 1.5rem;
    max-height: 70px;
  }
  .container_logo_h1 a {
    font-size: 1.7rem;
  }
  .svg_size {
    width: 64px;
    height: 64px;
  }
  .video_block {
    padding-top: 160px;
  }
}
.container_select {
  width: 100%;
}
@media (min-width: 360px) and (max-width: 430px) {
  .container_select {
    width: 300px;
    text-align: center;
  }
  .head_top {
    display: none;
  }
  .head_sub {
    flex-direction: column;
    align-items: center;
    max-height: 200px;
  }
  .video_block {
    padding-top: 195px;
  }
  .hidden_canvas {
    display: none;
  }
  .container_span_delivery {
    font-size: 0.8rem;
  }
}
.hr_style {
  size: 1px;
  margin-top: 10px;
  width: 70%;
}
