.mevaro_company_container {
    padding: 20px;
    text-align: center;
    font-size: calc(0.8rem + 0.6vw);
    margin: 20px;
    background: rgba(9, 118, 101, 0.8);
    color: aliceblue;
    border-radius: 10px;
}