.container_div_blog_img {
  position: relative;
  width: 100%;
  height: 300px;
}
.container_div_img {
  width: 300px;
  height: 150px;
  object-fit: cover;
  position: relative;
}
.h1_blog {
  font-size: calc(1.9rem + 0.5vw);
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
}
.content_blog ul {
  list-style: square;
}
.h1_blog::after {
  content: '';
  height: 3px;
  width: 30%;
  background-color: rgba(0, 0, 0, 0.8);
  display: block;
  margin: auto;
  margin-top: 5px;
}
.content_blog strong {
  font-size: calc(0.5rem + 0.5vw);

  margin: 5px;
  font-style: italic;
}
.container_grid {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 50px;
}
.image_style {
  border-radius: 7px;
  object-fit: cover;
}
.h2_style {
  font-size: 1.5rem;
}
.h3_style {
  font-size: 1.1rem;

  font-weight: lighter;
}
.hr_style {
  size: 1px;
  margin-top: 10px;
  width: 70%;
}
.container_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container_dtn {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 7px;
}
@media (min-width: 360px) and (max-width: 480px) {
  .content_blog {
    width: 100%;
    font-size: calc(1rem + 0.3vw);
    padding: 10px;
  }
  .h1_blog {
    font-size: calc(1.5 + 0.5vw);
  }
  .content_blog h2 {
    font-size: calc(0.9 + 0.5vw);
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  .content_blog {
    width: 100%;
    font-size: calc(1.1rem + 0.3vw);
    padding: 20px;
  }
  .h1_blog {
    font-size: calc(1.7 + 0.5vw);
  }
  .content_blog h2 {
    font-size: calc(1.1 + 0.5vw);
  }
}
@media (min-width: 1201px) {
  .content_blog {
    width: 100%;
    font-size: calc(0.9rem + 0.3vw);
    padding: 70px;
  }
  .h1_blog {
    font-size: calc(1.9 + 0.5vw);
  }
  .content_blog h2 {
    font-size: calc(1.3rem + 0.5vw);
  }
}
