.container_office_armchair {
  padding-top: 250px;
}
.container_office_armchair h1 {
  font-size: calc(1.9rem + 0.5vw);
  color: #fff;
  background: #000;
  width: 50%;
  display: block;
  margin: auto;
  text-align: center;
}
.container_paneli_h2 {
  font-size: calc(1.9rem + 0.5vw);
  color: #fff;
  background: #000;
  width: 50%;
  display: block;
  margin: auto;
  text-align: center;
}
.container_office_armchair_des {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container_office_armchair_des p {
  font-size: calc(1rem + 0.5vw);
  line-height: 30px;
  padding: 20px;
}
.container_office_armchair_des h2 {
  font-size: calc(1.2rem + 0.5vw);
  text-align: center;
  font-weight: bold;
}
.content_describe {
  padding: 20px;
}
.container_office_armchair_des ul {
  padding: 20px;
}
.container_office_armchair_des h3 {
  text-align: center;
  font-size: calc(0.9rem + 0.7vw);
  font-weight: bolder;
  font-style: italic;
}
.container_ul {
  list-style: square;
}

.content_describe h2 {
  font-size: calc(1rem + 0.5vw) !important;
  font-weight: bold;
}
@media (min-width: 360px) and (max-width: 480px) {
  .container_office_armchair {
    padding-top: 250px;
  }
  .container_office_armchair_des {
    flex-direction: column;
  }
  .container_office_armchair h1 {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .container_office_armchair_des {
    flex-direction: column;
    align-items: center;
  }
}
