.container_h4_comment {
  font-size: calc(0.7rem + 0.5vw);
  text-transform: capitalize;
  font-weight: bolder;
}

.container_comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(245, 224, 133, 0.2);
  padding: 10px;
  padding: 20px;
}
.container_comment textarea::placeholder {
  text-align: center;
  padding: 10px;
  color: #fff;
  font-size: calc(1rem + 0.4vw);
}
.container_comment textarea {
  padding: 10px;
  color: #fff;
  outline: none;
  background-color: rgba(9, 118, 101, 0.7);
  border-radius: 10px;
  width: 600px;
  min-height: 100px;
  max-height: 200px;
  height: auto;
  overflow-y: hidden;
  resize: none;
}
.form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.container_btn {
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px 25px 10px 25px;
  font-size: calc(0.5rem + 0.5vw);
  border-radius: 10px;
  margin: 20px 0px;
  text-transform: capitalize;
  outline: none;
}
@media (min-width: 360px) and (max-width: 430px) {
  .container_comment textarea {
    width: 300px;
  }
}
